
/* solarized color scheme in HTML */

.base03  { background-color: #002b36; }
.base02  { background-color: #073642; }
.base01  { background-color: #586e75; }
.base00  { background-color: #657b83; }
.base0   { background-color: #839496; }
.base1   { background-color: #93a1a1; }
.base2   { background-color: #eee8d5; }
.base3   { background-color: #fdf6e3; }
.yellow  { background-color: #b58900; }
.orange  { background-color: #cb4b16; }
.red     { background-color: #dc322f; }
.magenta { background-color: #d33682; }
.violet  { background-color: #6c71c4; }
.blue    { background-color: #268bd2; }
.cyan    { background-color: #2aa198; }
.green   { background-color: #859900; }

.base03-fg  { color: #002b36; }
.base02-fg  { color: #073642; }
.base01-fg  { color: #586e75; }
.base00-fg  { color: #657b83; }
.base0-fg   { color: #839496; }
.base1-fg   { color: #93a1a1; }
.base2-fg   { color: #eee8d5; }
.base3-fg   { color: #fdf6e3; }
.yellow-fg  { color: #b58900; }
.orange-fg  { color: #cb4b16; }
.red-fg     { color: #dc322f; }
.magenta-fg { color: #d33682; }
.violet-fg  { color: #6c71c4; }
.blue-fg    { color: #268bd2; }
.cyan-fg    { color: #2aa198; }
.green-fg   { color: #859900; }